html {
    background-color: beige;
    overflow: hidden;
}

#navBar {
    background-color: darkolivegreen;
}

#navBar li {
    display: inline-block;
    padding: 20px 20px;
}

#navBar a {
    color: yellow;
    padding: 20px 20px;
}

#navBar a:hover {
    background-color: darkgreen;
}

fieldset {
    text-align: center;
}

fieldset ul {
    list-style-type: none;
}

fieldset li {
    font-size: 25px;
}